<ng-include src="'user/dashboard/poolstats.html'"></ng-include>
<div layout-md="column" layout="row" flex>
	<div layout="column" flex>
		<md-card>
			<md-toolbar class="md-table-toolbar md-default">
			  <div class="md-toolbar-tools">
				<span>Blocks Found</span>
			  </div>
			</md-toolbar>
			<md-card-content>
				<md-table-pagination md-limit="options.limit" md-limit-options="[15, 30, 50]" md-page="options.page" md-total="{{poolStats.global.totalBlocksFound}}" md-on-paginate="loadBlocks" md-page-select></md-table-pagination>
				<md-table-container id="blocksTable">
				  <table md-table md-progress="promise">
					<thead md-head>
					  <tr md-row>
						<th md-column><h2 class="md-subhead">Valid</h2></th>
						<th md-column><h2 class="md-subhead">Time Found</h2></th>
						<th md-column><h2 class="md-subhead">Height</h2></th>
						<th md-column><h2 class="md-subhead">Difficulty</h2></th>
						<th md-column><h2 class="md-subhead">Hash</h2></th>
						<th md-column><h2 class="md-subhead">Shares</h2></th>
						<th md-column><h2 class="md-subhead">Luck</h2></th>
						<th md-column><h2 class="md-subhead">Maturity</h2></th>
						<th md-column><h2 class="md-subhead">Pool</h2></th>
					  </tr>
					</thead>
					<tbody md-body>
					  <tr md-row ng-repeat="block in blocks.global">
						<td md-cell>
							<md-icon ng-class="{valid: block.valid, invalid: !block.valid}">
								{{::block.icon}}
							</md-icon>
						</td>
						<td md-cell>
							<h3 class="md-body-2" am-time-ago="block.ts"></h3>
							<md-tooltip>
								{{::block.ts | date:"hh:mm:ss dd/MM/yy"}}
							</md-tooltip>
						</td>
						<td md-cell><p class="md-body-2">{{::block.height | number}}</p></td>
						<td md-cell><p class="md-body-2">{{::block.diff | number}}</p></td>
						<td md-cell><p ng-bind-html="::block.hash | hashToLink: 'block'"></p></td>
						<td md-cell><p class="md-body-2">{{::block.shares | number}}</p></td>
						<td md-cell><p class="md-body-2">{{::block.luck | number:2}} %</p></td>
						<td md-cell>
							<md-progress-linear  md-mode="query" ng-if="!block.maturity"></md-progress-linear>
							<p ng-if="block.maturity<0">
								<md-icon>lock_open</md-icon> 
								<md-tooltip>
									{{-block.maturity}} blocks ago
								</md-tooltip>
							</p>
							<p ng-if="block.maturity>0">
								{{block.maturity}} to go
							</p>
						</td>
						<td md-cell><p class="md-body-2">{{::block.pool_type}}</p></td>
					  </tr>
					</tbody>
				  </table>
				</md-table-container>
				<md-table-pagination md-limit="options.limit" md-limit-options="[15, 30, 50]" md-page="options.page" md-total="{{poolStats.global.totalBlocksFound}}" md-on-paginate="loadBlocks" md-page-select></md-table-pagination>
			</md-card-content>
		</md-card>
	</div>
</div>