/*** Global Styles ***/
/* Colors
rgb(44,55,66) ebony clay
rgb(0,130,130) teal
rgb(255,160,0) orange peel
rgb(225,225,225) mercury
rgb(235,235,235) gallery
*/
html, body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size:14px;
  margin: 0px;
  padding: 0px;
  min-width: 420px;
}

a {
  transition: color .4s;
  color: rgb(0, 130, 130); 
}

a:link { text-decoration: none; },
a:visited { color: rgb(255, 160, 0); } 
a:hover   { color: rgb(255, 160, 0); }
a:active  {
  transition: color .3s;
  color: rgb(204, 122, 0);
}

 .panel-subtitle {
	 font-weight: bold;
	 font-size: 110%;
 }

/*** Material Styles ***/
md-card {
  overflow: hidden;
  background-color: rgb(215, 215, 215);
}

md-sidenav {
	width: 220px;
}

md-toolbar {
	background-color: rgb(0, 130, 130) !important;
}

md-button {
	background-image: 
}

.material-icons {
	color: rgb(255, 160, 0);
}

#main {
  background: rgb(240, 240, 240); 
}

.maintoolbar {
  background-color: rgb(0, 130, 130); 
}

.maintoolbar span {
	color: rgb(255, 255, 255);
}

.statsbar md-card-title-text{
  text-align: right;
}

.statsbar md-card md-card-title {
  padding: 12px ;
}

.md-menu-toolbar {
  background: rgb(0, 130, 130);
}

.md-title {
	color: white;
}

.luck {
text-allign: right;
padding: 0 0 0 56px
}

.md-divider {
	color: white;
}

md-tooltip .md-content {
  height: auto !important;
}

.md-tooltip {
	font-size: 100%;
	height: auto !important;
}

.navbar .smallfont h3{
  font-size: 0.8em;
}

.navbar .smallfont h3 b{
  display: inline-block;
}

.sidenav {
  background-color: rgb(44,55,66);
}

.sidenav ul{
  list-style: none;
}

.sidenav md-list-item {
  padding: 0px;
}

.sidenav a {
  width: 100%;
  text-align: left;
  color: #fff;
  margin: 0px;
}

.sidebar {
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box; 
}

.sidebar a {
  color: rgb(66,66,66);
  text-decoration: none;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  opacity: 0.87; 
}

.sidebar md-icon, .sidebar ng-md-icon {
  vertical-align: middle;
  padding-left: 40px;
}

#content  {
  padding: 40px;
}

.logo {
  background: rgb(30,30,30) !important;
  color: rgb(255, 255, 255) !important;
}

.logo i {
  color: rgb(255, 160, 0);
  font-weight: 700;
}

/* HELPERS */
.welcome p {
	padding-left: 25px;
	margin-top: 2px;
}

.welcome h3 {
	padding-bottom: 0;
	margin-bottom: 0;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.truncate{
  width:100px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis
}

.nowrap {
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis
}

.frac { display: inline-block;
    position: relative;
    vertical-align: middle;
    letter-spacing: 0.001em;
    text-align: center;
}
.frac > span {
    display: block;
    padding: 0.1em;
}
.frac span.bottom {
    border-top: thin solid;
}
.frac span.symbol {
    display: none;
} 

.hide-error-msg .md-errors-spacer{
  display: none
}

.menu-item {
  position: relative;
  width: 64px;
  height: 64px;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;
  zoom:0.6;
  transform: translateZ(0);
  -webkit-transform: scale(0.60);
  -moz-transform:scale(0.60);
  font-size: 64px !important;
  color: rgb(255, 160, 0);
}

.valid {
  color: green !important;
}

.invalid {
  color: red !important;
}

.metric md-icon {
  font-size: 32px;
}

.navbar .login {
 color: #fff !important;
}

/* CHARTS */

.chart-legend {
  display: none;
}

.chartcontainer {
  width: 100% !important;
  height: 300px;
}

.chartcontainer .ng-isolate-scope {
  height:300px;
}

/* LOGIN WINDOW */
md-dialog .login{
  min-width: 800px !important;
}

.console {
  height: 300px;
  min-width: 500px;
}

.no-padding {
  padding: 0px;
}

.power {
  width: 100%;
  color: #fff;
}

.power a {
  color: #f2ff2f;
}

.power a:hover {
  color: #f2f;
}

.power a.alt {
  color: #f2f;
}

.power a.alt:hover {
  color: #f2ff2f;
}

.fixed {
  position: fixed;
}

.theironfist {
  cursor: pointer;
}