<md-dialog aria-label="Miner Login" >
	<form ng-cloak>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<span class="md-title">Miner Console</span>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon aria-label="Close dialog">clear</md-icon>
				</md-button>
			</div>
		</md-toolbar>

		<md-dialog-content>
			<md-tabs class="console">
				<md-tab label="Payment Threshold" md-on-select="currentTab = 'Threshold'">
					<div layout-padding>
						<p class="" ng-if="paymentThresh==0">You currently have no payment threshold set, defaults are in use.</p>
						<form name="thresholdForm" autocomplete="off">
							<md-input-container>
								<label>Payment Threshold Limit</label>
								<input type="number" ng-model="paymentThresh" name="threshold" step="any" required min="{{min_wallet_payout | toXMR}}">
							</md-input-container>
							<div ng-messages="thresholdForm.threshold.$error" multiple>
								<div ng-message="min">
									This value cannot be lower than {{min_wallet_payout | toXMR}} XMR
								</div>
							</div>
							<p>The pool will pay out to your wallet once your total due exceeds the payment threshold</p>
						</form>
					</div>
				</md-tab>
				<md-tab label="Email Settings" md-on-select="currentTab = 'Email'">
					<div layout-padding>
						<form name="emailForm" autocomplete="off">
							<md-checkbox ng-model="email_toggle" ng-true-value="1" ng-false-value="0">Receive miner hashrate alerts</md-checkbox>							
						</form>
					</div>
				</md-tab>
				
				<md-tab label="Change Password" md-on-select="currentTab = 'Password'">
					<div layout-padding>
						<form name="passwordForm" autocomplete="off">
							<md-input-container class="md-block">
								<label>New Password</label>
								<input type="password" ng-model="password.pwd" name="pwd" required md-autofocus>
							</md-input-container>
							<md-input-container class="md-block">
								<label>Confirm Password</label>
								<input type="password" id="cnfpwd" ng-model="password.cnf" name="cnf" required compare-to="password.pwd" ng-focus="status == 'Check passwords'">
								<div ng-messages="passwordForm.cnf.$error" multiple>
									<div ng-message="compare-to">
										Please confirm your new password
									</div>
								</div>
							</md-input-container>
						</form>
					</div>
				</md-tab>
			</md-tabs>
		</md-dialog-content>

		<md-dialog-actions layout="row">
			<md-button class="md-raised md-primary md-warn" ng-click="logout()">
				Logout
			</md-button>
			<span flex></span>
			<p ng-class="statusClass">{{status}}</p>
			<md-button class="md-primary" ng-click="save()">
				Update {{currentTab}}
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>