<md-dialog aria-label="Miner Login">
  <md-content class="login">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Miner Login</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon aria-label="Close dialog">clear</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content layout-padding>
      <form name="loginForm">
        <div>
          <md-input-container class="md-icon-float md-block">
            <!-- Use floating label instead of placeholder -->
            <label>Payment Address</label>
            <md-icon>person</md-icon>
            <input ng-model="user.username" name="username" type="text" md-autofocus>
          </md-input-container>

          <md-input-container class="md-icon-float md-block">
            <label>Password</label>
            <md-icon>lock</md-icon>
            <input ng-model="user.password" name="password" type="password" placeholder="your email identifier (read Getting Started to set one)">
          </md-input-container>
        </div>
      </form>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-checkbox class="md-primary" ng-model="remember">
        Remember me
      </md-checkbox>
      <span flex></span>
      <p class="invalid">{{status}}</p>
      <md-button class="md-raised md-primary" ng-click="login()">
        Login
      </md-button>
    </md-dialog-actions>
  </md-content>
</md-dialog>